// Page base classname
$rootClassName = 'page'

// Font options
$font = {
  style: normal,
  variant: normal,
  weight: 400,
  size: 12pt,
  height: 1.25,
  family: {
    base: "'Open Sans', Verdana, Geneva, sans-serif"
  },
  features: 'liga' 1, 'dlig' 1, 'kern' 1, 'tnum' 1, 'zero' 1,
}

// Num columns in responsive layout grid
$grid = 12

// Themes
$themes = {
  base: {
    root: {
      bgColor: #fff,
      textColor: rgba(0, 0, 0, .88),
      caretColor: #03a9f4,
      selection: {
        bgColor: #81d4fa,
        textColor: #111,
      }
    },
  },
}

// Page layout options
$pageLayout = {
  screens: 0 288 360 432 1296,
  default: 3,
  maxWidth: 720 720 720 720 864,
  marginSafe: 12 12 12 12 24,
  marginPage: 0 6 12 18 24,
  bgColor: {
    light: #fff,
    dark: #121212,
  }
}
