/* Sample for import font */
/*
@font-face
  font-family: 'PT Root UI';
  src: url('/fonts/PTRootUIRegular/PTRootUIRegular.eot');
  src:
        url('/fonts/PTRootUIRegular/PTRootUIRegular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PTRootUIRegular/PTRootUIRegular.woff2') format('woff2'),
        url('/fonts/PTRootUIRegular/PTRootUIRegular.woff') format('woff'),
        url('/fonts/PTRootUIRegular/PTRootUIRegular.ttf') format('truetype'),
        url('/fonts/PTRootUIRegular/PTRootUIRegular.svg#PTRootUIWeb-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
*/


/* Vewport options */
for $viewportPrefix in (-ms- -o- '')
  @{$viewportPrefix}viewport
    zoom: 1.0;
    width: device-width;


/* Cover viewport options for iOS */
// Browsers which partially support CSS Environment variables (iOS 11.0-11.2).
@supports (padding-top: constant(safe-area-inset-top))
  :root
    --safe-area-inset-top: constant(safe-area-inset-top);
    --safe-area-inset-right: constant(safe-area-inset-right);
    --safe-area-inset-bottom: constant(safe-area-inset-bottom);
    --safe-area-inset-left: constant(safe-area-inset-left);

// Browsers which fully support CSS Environment variables (iOS 11.2+).
@supports (padding-top: env(safe-area-inset-top))
  :root
    --safe-area-inset-top: env(safe-area-inset-top);
    --safe-area-inset-right: env(safe-area-inset-right);
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    --safe-area-inset-left: env(safe-area-inset-left);
